<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Movie showtimes in Luxembourg">
    <meta name="author" content="#Kaweechelchen">
    <link rel="icon" href="favicon.ico">

    <title>Kino ♥</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/kino.mona.lu.css" rel="stylesheet">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Mona Kino">

    <link href="img/icon_152.png" sizes="152x152" rel="apple-touch-icon">
    <link href="img/icon_144.png" sizes="144x144" rel="apple-touch-icon">
    <link href="img/icon_120.png" sizes="120x120" rel="apple-touch-icon">
    <link href="img/icon_114.png" sizes="114x114" rel="apple-touch-icon">
    <link href="img/icon_76.png"  sizes="76x76"   rel="apple-touch-icon">
    <link href="img/icon_72.png"  sizes="72x72"   rel="apple-touch-icon">
    <link href="img/icon_57.png"  sizes="57x57"   rel="apple-touch-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <!-- Example row of columns -->

    {% for time, screening in screenings %}

        <div class="row time paddingLeft">
            <div class="col-md-12 timeBlockTitle">
            {% if time|date("z") != "now"|date("z") %}
                Tomorrow
            {% endif %}
            {{ time|date("H:i") }}
            </div>
        </div>
        <div class="row timeBlock">
            <div class="col-md-12">

            {% for movieId, cinema in screening %}

                <div class="col-md-12 movie" data-movieid="{{ time }}{{ movieId }}">
                    <img src="scrape/img/{{ movieId }}.jpg">
                    <div class="meta">
                        <h2>{{ movies[movieId].title }}</h2>
                        <p>
                            {{ movies[movieId].language }}<br />
                            {% for cinemaId in cinema %}
                                {{ cinemas[cinemaId] }}<br />
                            {% endfor %}
                            Ends at ~{{ (time + 15 * 60 + 60 * movies[movieId].runtime)|date("H:i") }}</p>
                        <p class="synopsis-{{ time }}{{ movieId }}">{{ movies[movieId].synopsis }}</p>
                    </div>
                    <div class="clear"></div>
                </div>

            {% endfor %}

            </div>
        </div>
    {% endfor %}

        <footer>
            <p>Made with <img class="emoji" src="img/heart.png" draggable="false" alt="♥" title="Red heart" aria-label="Emoji: Red heart"> on a laptop</p>
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/kino.mona.lu.js"></script>
    <script src="js/moment.min.js"></script>
  </body>
</html>
